@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-laravel-nepal: "Josefin Sans", sans-serif;
    --color-laravel-red: #f53003;

    --animate-drift: drift 20s infinite alternate;
    --animate-float: floating 3s ease-in-out infinite;

    @keyframes drift {
        0% {
            transform: translate(0, 0) scale(1);
        }
        100% {
            transform: translate(20px, -20px) scale(1.05);
        }
    }

    @keyframes floating {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }
}

@utility glass {
    @apply bg-white/3;
    @apply backdrop-blur-[30px];
    @apply border border-[rgba(255,255,255,0.1)];
    @apply shadow-[0_8px_32px_rgba(0,0,0,0.5)];
}

@layer components {
    * {
        @apply transition-colors duration-300 ease-in-out;
    }

    .container {
        @apply w-full;
        @apply mx-auto;
        @apply max-w-7xl;
        @apply px-4 lg:px-0;
    }

    .dock-container {
        @apply fixed;
        @apply left-1/2;
        @apply -translate-x-1/2;
        @apply bottom-8;
        @apply w-auto;
        @apply transition-[bottom,opacity];
        @apply duration-1000 ease-in-out;
        @apply opacity-100;
        @apply z-100;
    }

    .dock-container.is-docked {
        @apply -bottom-25;
        @apply opacity-0;
    }

    .dock {
        @apply bg-[rgba(15,15,20,0.7)];
        @apply backdrop-blur-[25px] backdrop-saturate-200;
        @apply border border-[rgba(255,255,255,0.1)];
        @apply shadow-[0_-10px_40px_rgba(0,0,0,0.8)];
    }

    .bg {
        @apply absolute;
        @apply top-0 left-0 w-full h-full;
        @apply bg-[radial-gradient(circle_at_20%_30%,rgba(245,48,3,0.15)_0%,transparent_40%),radial-gradient(circle_at_80%_70%,rgba(245,48,3,0.1)_0%,transparent_40%)];
        @apply blur-[80px];
        @apply -z-10;
        @apply animate-drift;
    }

    .nav-item {
        @apply px-4 py-2;
        @apply hover:bg-white/5;
        @apply rounded-full;
        @apply text-[10px] hover:text-[12px];
        @apply font-bold;
        @apply tracking-widest;
        @apply uppercase;
        @apply transition-all duration-200 ease-in-out;

        &:where(.active) {
            @apply bg-white hover:bg-white;
            @apply text-laravel-red;
            @apply text-[12px] hover:text-[14px];
        }
    }

    .button-red {
        @apply bg-laravel-red;
        @apply text-white;
        @apply px-8 py-4;
        @apply rounded-xl;
        @apply font-bold;
        @apply shadow-[0_10px_30px_rgba(245,48,3,0.3)];
        @apply hover:scale-105;
        @apply transition-all duration-200 ease-in-out;
        @apply hover:shadow-[0_15px_40px_rgba(245,48,3,0.4)];

        &:where(.small) {
            @apply rounded-md;
            @apply px-4 py-2;
            @apply text-sm;
        }
    }

    .button-outlined {
        @apply glass;
        @apply bg-[rgba(255,255,255,0.1)];
        @apply text-white;
        @apply backdrop-blur-[20px];
        @apply px-8 py-4;
        @apply rounded-xl;
        @apply font-bold;
        @apply transition-all duration-200 ease-in-out;
        @apply hover:bg-[rgba(245,48,3,0.07)] hover:border-laravel-red;
        @apply hover:-translate-y-1.25;
        @apply shadow-[0_8px_8px_rgba(0,0,0,0.1)];

        &:where(.small) {
            @apply rounded-md;
            @apply px-4 py-2;
            @apply text-sm;
        }
    }

    .section-title {
        @apply text-sm;
        @apply font-extrabold;
        @apply uppercase;
        @apply tracking-widest;
        @apply text-neutral-100;
        @apply flex items-center;
        @apply gap-4;
    }

    .section-title::after {
        content: '';
        @apply h-0.5;
        @apply grow;
        @apply bg-linear-to-r from-white/20 to-transparent;
    }

    .badge {
        @apply bg-laravel-red;
        @apply text-white;
        @apply text-sm;
        @apply font-bold;
        @apply px-2 py-1;
        @apply rounded;
        @apply inline-block;
    }
}
