@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-laravel-nepal: "Josefin Sans", sans-serif;
    --color-laravel-red: #f53003;
}

@layer components {
    * {
        @apply transition-colors duration-300 ease-in-out;
    }

    .container {
        @apply w-full;
        @apply mx-auto;
        @apply max-w-7xl;
        @apply px-4 lg:px-0;
    }
}

@layer utilities {
    .format {
        :where(a):not(:where([class~="not-format"] *)) {
            @apply text-laravel-red;
        }
    }
}
