@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-laravel-nepal: "Josefin Sans", sans-serif;
    --color-laravel-red: #f53003;
    --color-flag-blue: #003893;
}
